#textBox1, #textBox2, #backButton, #muteButton, #startGame, #credits, #quitGame {
    -fx-text-fill: #FFF;
    -fx-background-color: transparent;
    -fx-border-color: rgba(255,255,255,0.5);
    -fx-border-width: 0px;
    -fx-text-size: 50px;
    -fx-font-family: "Oswald";
}
#muteButton, #backButton{
    -fx-font-size: 30px;
}


#startGame:hover, #startGame:focused,
#credits:hover, #credits:focused,
#quitGame:hover, #quitGame:focused {
    -fx-font-size: 50px; /* Adjust the font size to your desired value */
}

#Title{
    -fx-text-fill: #FFF;
    -fx-font-family: "Oswald";
    -fx-font-size: 150px ;
    -fx-font-style: italic;
}