#backButton, #muteButton, #startGame, #credits, #quitGame, #easyButton, #hardButton, #instructionsButton, #close, #gameOverBackButton {
    -fx-text-fill: #FFF;
    -fx-background-color: transparent;
    -fx-border-color: rgba(255,255,255,0.5);
    -fx-border-width: 0px;
    -fx-text-size: 50px;
    -fx-font-family: "Oswald";
}
#muteButton, #backButton, #close, #gameOverBackButton{
    -fx-font-size: 30px;
}

#backButton:hover, #close:hover{
    -fx-font-size: 30px;
    -fx-effect: dropshadow(three-pass-box, #FFF, 10, 0, 0, 0);
}

#startGame:hover, #startGame:focused,
#credits:hover, #credits:focused,
#quitGame:hover, #quitGame:focused ,
#easyButton:hover, #easyButton:focused,
#hardButton:hover, #hardButton:focused,
#instructionsButton:hover, #instructionsButton:focused {
    -fx-font-size: 50px;
    -fx-effect: dropshadow(three-pass-box, #FFF, 10, 0, 0, 0);
}

#Title{
    -fx-text-fill: #FFF;
    -fx-font-family: "Oswald";
    -fx-font-size: 150px ;
    -fx-font-style: italic;
    -fx-effect: dropshadow(three-pass-box, #FFF, 10, 0, 0, 0);
}
#textBox1, #textBox2{
    -fx-text-fill: #FFF;
    -fx-font-family: "Oswald";
    -fx-font-size: 50px ;
    -fx-font-style: italic;
}

#instructionsTitle{
    -fx-text-fill: #FFF;
    -fx-font-family: "Oswald";
    -fx-font-size: 50px ;
}

#instructionsText{
    -fx-text-fill: #FFF;
    -fx-font-family: "Oswald";
    -fx-font-size: 16px ;
}

.exitDialog {
    -fx-background-color: #ffffff; 
}

.exitDialog > .button-bar > .container {
    -fx-background-color: #ffffff; 
}

.exitDialog > .label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #292929; 
}

.exitDialog:header > .header-panel {
    -fx-background-color: #ffffff; 
}

.exitDialog:header > .header-panel > .label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: #292929; 
}

.exitDialog .alert-icon {
    -fx-visibility: hidden;
}

/*$green: #75b800;
$gray-light: #eef1f3;


$bar-size: 5px;
$bar-radius: 60px;
$bar-bg: rgba(0,0,0,0.075);

body {
    -fx-background-color: #eef1f3;
}


.track{
    -fx-border-radius: 60px;
    -fx-background-color:rgb(133, 15, 15);
    -fx-padding: 0px;
    -fx-background-insets: 0; 
}

.bar {
    -fx-background-color: #75b800;
    -fx-text-fill: #fff;
}

*/
.progress-bar .track {
    -fx-background-color: rgb(133, 15, 15);
    
}


.progress-bar .bar {
    -fx-background-color: #75b800; 
    -fx-background-insets: 0, 0000, 0000;
    -fx-text-fill: #fff;
}


.progress-bar .bar .bar-background {
    -fx-background-color: rgb(133, 15, 15); 
}

